/* * {
  background: rgb(243, 244, 247);
} */

.home-header {
  position: fixed;
  width: 100%;
  background-color: rgb(51, 65, 85);
  color: white;
  z-index: 1000;
}

.home-header-title {
  background-color: rgb(51, 65, 85);
  font-weight: 400;
}

.home-logo-container-1 {
  position: relative;
  top: 100px;
}

.home-sidebar {
  width: 60px;
  background-color: rgb(30, 41, 59);
  color: #fff;
  padding: 20px 10px;
  padding-top: 50px;
  position: fixed;
  top: 50px;
  bottom: 0;
  /* height: 100%; */
  transition: width 0.2s ease;
  overflow: hidden;
}
.home-sidebar:hover {
  width: 200px;
}

.rp-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.sidebar-item {
  display: flex;
  margin-bottom: 40px;
  height: 40px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  background-color: white;
}
.sidebar-item:hover {
  transform: scale(1.05); /* Increase the size of the element */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.sidebar-item-text {
  margin-left: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #000;
}
.home-sidebar:hover .sidebar-item-text {
  opacity: 1;
}
.sidebar-icon {
  font-size: 1.2rem;
  color: #000;
}
.home-label {
  background-color: white;
}
.home-card {
  max-width: 600px;
}
.chart-1 {
  background-color: white;
}
.chart-2 {
  background-color: white;
}
.home-chart-1 {
  max-width: 600px;
}

.home-chart-2 {
  max-width: 600px;
}

.home-main-content {
  margin-left: 210px;
  transition: margin-left 0.2s ease;
  margin-top: 8rem;
  color: black;
}

.home-sidebar:not(:hover) + .home-main-content {
  margin-left: 80px;
}

.chart-name-1,
.chart-name-2 {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.report-header {
  position: fixed;
  width: 100%;
  background-color: rgb(51, 65, 85);
  color: white;
  z-index: 1000;
  top: 0;
}

.report-header-title {
  background-color: rgb(51, 65, 85);
  font-weight: 400;
}

.report-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.report-container {
  padding: 50px;
  border-radius: 10px;
}

.report-container .text-center {
  margin-bottom: 20px;
}

.report-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for a better visual effect */
}

.report-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.report-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.report-item-icon svg {
  color: #333;
}

.report-item:hover .report-item-icon {
  transform: translateY(-5px);
}

.report-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.report-button:hover {
  transform: scale(1.1);
}

.fixed-bottom {
  padding: 10px;
  border-top: 1px solid #ccc;
  width: 100%;
}

/* .fa-search,
  .fa-bell,
  .fa-user-circle,
  .report-icon,
  .camera-icon,
  .transaction-icon,
  .location-icon,
  .entry-icon,
  .fixed-bottom .fa-home,
  .fixed-bottom .fa-backward,
  .fixed-bottom .fa-power-off {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .fa-search:hover,
  .fa-bell:hover,
  .fa-user-circle:hover,
  .report-icon:hover,
  .camera-icon:hover,
  .transaction-icon:hover,
  .location-icon:hover,
  .entry-icon:hover,
  .fixed-bottom .fa-home:hover,
  .fixed-bottom .fa-backward:hover,
  .fixed-bottom .fa-power-off:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  } */

.notification-popup {
  position: absolute;
  top: calc(10% + 10px);
  right: 0;
  z-index: 1000;
  background-color: rgb(253, 253, 253);
  color: #333;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.notification-popup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.notification-popup ul li {
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notification-popup ul li:last-child {
  border-bottom: none;
}

.report-icon,
.camera-icon,
.transaction-icon,
.entry-icon,
.location-icon {
  border: 2px solid #333;
  border-radius: 50%;
  padding: 20px;
  background-color: #f0f0f0;
  transition: transform 0.3s ease;
}

.report-icon:hover,
.camera-icon:hover,
.transaction-icon:hover,
.entry-icon:hover,
.location-icon:hover {
  transform: translateY(-5px);
}

.button-bottom {
  padding: 10px;
  /* border-top: 1px solid #ccc; */
  width: 100%;
}

.icon-button {
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

.button-bottom {
  margin-top: 10rem;
}

.daily-report-date {
  font-weight: bold;
}

.daily-report-main-content {
  margin-left: 210px;
  margin-top: 7rem;
  transition: margin-left 0.2s ease;
}

.home-sidebar:not(:hover) + .daily-report-main-content {
  margin-left: 80px;
}

.daily_report_icon {
  border: 2px solid #333;
  border-radius: 50%;
  padding: 10px;
  color: black;
  background-color: #f0f0f0;
}

.daily_report_icon:hover {
  transform: scale(1.1);
}

.download-btn {
  transition: transform 0.3s ease-in-out;
}

.download-btn:hover {
  background-color: green;
  transform: scale(1.1);
}

.create-main-content {
  margin-left: 210px;
  margin-top: 7rem;
  transition: margin-left 0.2s ease;
}

.btn-hover:hover {
  background-color: #d63031 !important; /* Darker red for the "Cancel" button */
  color: #fff !important;
  transform: scale(1.1) !important; /* Increase the scale on hover */
}

.btn-hover.btn-success:hover {
  background-color: #2ecc71 !important; /* Darker green for the "Save" button */
  color: #fff !important;
  transform: scale(1.1) !important; /* Increase the scale on hover */
}

label {
  font-weight: bold;
  color: rgb(51, 65, 85);
}
